.service-items {
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.5s ease-in-out;
}

.service-items:hover {
    border: 2px solid rgb(121, 86, 245);
}



.service-success {
    background: #1a2844;
}

.service-primary {
    background: #17A2B8;
}

.service-warning {
    background: #FFC107;
}

.service-secondary {
    background: #28A745;
}

.service-info {
    background: #eb50bc;
}

.service-danger {
    background: #DC3545;
}